<%= render "shared/header" %>
<>
<h3>チャットコメント</h3>
<%= form_with model: @comment do |f| %>
  <%= f.text_field :text %>
  <%= link_to '', class:"comment-btn"%><%= f.submit 'コメント' %>
<% end %>
<div id='comments'>
  <% @comments.reverse_each do |comment| %>
    <p><%= comment.text %></p>
  <% end %>

  <p class="comment-warn">
    相手のことを考え丁寧なコメントを心がけましょう。
    <br>
    不快な言葉遣いなどは利用制限や退会処分となることがあります。
  </p>

  <%= render "shared/footer" %>