<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>

    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to 'マイページ', "#", class: "user-nickname"  %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <li><%= link_to '出品する', new_product_path, class: "sell-product" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <li><%= link_to '出品する', new_user_session_path, class: "sell-product" %></li> <%#ログイン画面に遷移させる%>
      <% end %>
    </ul>
  </div>
</header>