<%= render "shared/header" %>

<div class='main'>
  <div class="top-image">
    <%= image_tag "top2.png" %>
  </div>
  <div class='title-contents'>
    <h2 class='catchphrase'>
      それ捨てるんですか？
    </h2>
    <p class='service-explain'>
      FoodEcologyは、まだ食べられる食品を
    </p>
    <p class='service-explain'>
      販売してくれるお店や加工業者、消費者と繋ぐアプリです。
    </p>
  </div>
  <%# コンセプト %>
  <div class="app-concept">
    <h2 class="app-whats">what's Food Ecology</h2>
    <div class="app-explanation">
      <p>FoodEcologyは<span class="underline">「食品ロスを減らす」</span>というコンセプトを元に作られた、生産者と消費者を繋ぐアプリケーションです。</p>
      <p>買い手・売り手は、個人法人問わず、誰でも出品・購入が可能です。</p>
      <p>FoodEcologyでは、主に訳アリ商品を取り扱います。もちろん、安全に召し上がれる商品を取り扱うのですが、</p>
      <p>訳アリ商品というのは、主に在庫を抱え過ぎて賞味期限が切れてしまった商品や、傷やサイズの問題で出荷できなかった野菜など、</p>
      <p>まだ安全に食べることができるのに、店頭に陳列することが出来なくなった商品のことを指します。</p>
      <p>このような訳あり商品の販売・消費を通じて、<span class="underline">生産者や卸業者の廃棄コストが減り、消費者は安く購入できる</span>というメリットが生まれ、</p>
      <p>食品ロスが減ることによって環境負荷、経済損失といった社会問題の解消に少しでも貢献したいと考えています。</p>
    </div>
  </div>

  <%# 商品一覧表示 %>
  <div class="product-index">
    <div class="index-title">
      <h3>商品一覧（新着順）</h3>
    </div>
    <div class="product-lineup">
    <% @products.each do |product| %>
      <% if product.order == nil %>
        <li class='product-detail'>
          <%= link_to product_path(product) do %>
          <div>
            <%= image_tag product.image.variant(resize: '300x300'), class: "product-img" %>
          </div>
          <div class='product-info'>
            <p class='product-name'>
              <%= product.name %>
            </p> 
              <div class='product-quantity'>
                <%= product.quantity %>
              </div>
              <div class='product-price'>
                <span><%= product.price %>円(税込み)</span>
              </div>
            <div class='product-shipment-fee'>
              <%= product.shipment_fee.name %>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
    </div>
  </div>
</div>



<%= render "shared/footer" %>