<%= render "shared/header" %>
<div class="products-sell-contents">
  <header class="products-sell-header">

  </header>
  <div class="products-sell-main">
    <h2 class="products-sell-title">商品の情報を入力</h2>
    <%= form_with model:@product, url:products_path, local: true do |f| %>
    <%= render 'shared/error_messages',locals: { message:@message }, model: f.object %>

    <%# 出品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        出品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"product-image" %>
      </div>
    </div>

    <%# 商品名と商品説明 %>
    <div class="new-products">
      <div class="weight-bold-text">
        商品名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"products-text", id:"product-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      
      <div class="products-quantity">
        <div class="weight-bold-text">
          数量
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :quantity, class:"products-input", id:"product-quantity", placeholder:"単位まで入力してください。例）10kg,100本" %>
      </div>
      
      <div class="products-explain">
        <div class="weight-bold-text">
          商品の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :explanation, class:"products-text", id:"product-info", placeholder:"商品説明（必須 1,000文字まで）（商品の状態、定価など）例）見た目は出荷基準以下ですが味・鮮度は出荷ひんと変わりません。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>

    <%# 商品の詳細 %>
    <div class="products-detail">
      <div class="weight-bold-text">商品の詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"product-category"}) %>
        <div class="weight-bold-text">
          商品の状態
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:condition_id, Condition.all, :id, :name, {}, {class:"select-box", id:"product-sales-status"}) %>
      </div>
    </div>

    <%# 配送について %>
    <div class="products-detail">
      <div class="weight-bold-text question-text">
        <span>配送について</span>
      </div>
      <div class="form">
        <div class="weight-bold-text">
          配送料の負担
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:shipment_fee_id, ShipmentFee.all, :id, :name, {}, {class:"select-box", id:"product-category"}) %>
        <div class="weight-bold-text">
          発送元の地域
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"product-category"}) %>
        <div class="weight-bold-text">
          発送までの日数
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:shipment_term_id, ShipmentTerm.all, :id, :name, {}, {class:"select-box", id:"product-category"}) %>
      </div>
    </div>

    <%# 販売価格 %>
    <div class="sell-price">
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"product-price", placeholder:"半角で入力して下さい" %>
        </div>
        <div class="price-content">
          <span>販売手数料 (10%)</span>
          <span>
            <span id='add-tax-price'></span>円
          </span>
        </div>
        <div class="price-content">
          <span>販売利益</span>
          <span>
            <span id='profit'></span>円
        </div>
        </span>
      </div>
    </div>
    
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "出品する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    
  </div>
  <% end %>
</div>
<%= render "shared/footer" %>