<%= render "shared/header" %>
<div class="show-image">
    <%#= image_tag "wood1.jpg", class:"show-image" %>
</div>
<%# 商品の概要 %>
<div class="product-show">
  <div class="product-box">
    <h2 class="name">
      <%= @product.name %>
    </h2>
    <div class='product-img-content'>
      <%= image_tag @product.image ,class:"product-box-img" %>
    </div>
    <div class="product-price-box">
      <p>価格： <span class="product-price"><%= @product.price %></span> 円</p>
      <span class="product-postage">
        (税込) 送料込み
      </span>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-product">商品名</th>
          <td class="detail-value"><%= @product.name %></td>
        </tr>
        <tr>
          <th class="detail-product">数量</th>
          <td class="detail-value"><%= @product.quantity %>円</td>
        </tr>
        <tr>
          <th class="detail-product">商品説明</th>
          <td class="detail-value"><%= @product.explanation %></td>
        </tr>
        <tr>
          <th class="detail-product">出品者</th>
          <td class="detail-value"><%= @product.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-product">カテゴリー</th>
          <td class="detail-value"><%= @product.category.name %></td>
        </tr>
        <tr>
          <th class="detail-product">商品の状態</th>
          <td class="detail-value"><%= @product.condition.name %></td>
        </tr>
        <tr>
          <th class="detail-product">配送料の負担</th>
          <td class="detail-value"><%= @product.shipment_fee.name %></td>
        </tr>
        <tr>
          <th class="detail-product">発送元の地域</th>
          <td class="detail-value"><%= @product.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-product">発送日の目安</th>
          <td class="detail-value"><%= @product.shipment_term.name %></td>
        </tr>
      </tbody>
    </table>

    <% if @product.order == nil %>
      <%# ログインユーザーと出品ユーザーが、同一人物かどうかで表示を分ける%>
      <% if user_signed_in? && current_user.id == @product.user.id %>  
        <%= link_to '商品情報の編集', edit_product_path, method: :get, class: "buy-edit-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削 除', product_path, method: :delete, class:'product-destroy-btn' %>
      <% elsif user_signed_in? && current_user.id != @product.user.id %>
      <%# ログインユーザーと出品ユーザーが異なっていて、まだ商品が売れていない場合の表示 %>
        <%= link_to '購入画面に進む', product_orders_path(@product) ,class:"buy-edit-btn"%>
      <% end %>
    <% end %>
  </div>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <span>コメントする<span>
      </button>
    </form>
  </div>
  </div>
</div>

<%= render "shared/footer" %>